extends ../shared/layout
block main-content
    .row
        .col-md-8.col-md-offset-2
            table.table.table-hover
                thead
                    tr
                        each title in ['Title', 'Description', 'Authors', 'Difficult level', 'Pages', 'Pusblish date']
                            th= title
                    tbody
                        each book in books
                            tr
                                td= book.title
                                td= book.description
                                td= book.authors
                                td= book.difficultLevel
                                td= book.pages
                                td= book.publishDate





